@import url("normalize.css");
@import url("./components/header/header.module.css");
@import url("./components/comment/comment.module.css");
@import url("./components/designer/designer.module.css");
@import url("./components/monthly-chart/monthly-chart.module.css");

@import url("./pages/tasks-page/tasks-page.module.css");
@import url("./pages/designer-page/designer-page.module.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  padding: 2rem;
}

.surface-button{
  max-width: 30vw;
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.surface-button-2{
  max-width: 35vw;
  position: fixed;
  bottom: 50px;
  right: 250px;
}